$font-map: (
  "_raleway-regular": "Raleway Regular",
  "_raleway-semibold": "Raleway Semibold"
);

$color-map: (
  "_background": #0E141B,
  "_default": #FFFFFF,
  "_corporative": #25A0FF
);

@function font($key: 'primary') {
  @return map-get($font-map, $key);
}

@function color($key: 'primary') {
  @return map-get($color-map, $key);
}

@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway Semibold";
  src: url("../fonts/Raleway-SemiBold.ttf");
}