@import "./map";

div.container {
  width: 100%;
  height: 100vh;

  div#tsparticles {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
  }

  div.presentation {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: 50%;
    font-size: 42px;
    line-height: 48px;
    color: color(_default);
    cursor: default;
    transform: translate(0, -50%);

    div {
      display: block;
      text-align: right;

      span.name {
        font-family: font(_raleway-semibold);
        color: color(_corporative);
      }

      span.typewriter {
        display: inline-flex;

        &::after {
          content: "";
          width: 3px;
          height: 1em;
          margin-left: 5px;
          display: inline-block;
          background-color: color(_default);
          animation-name: blink;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;

          @media screen and (max-width: 768px) {
            width: 2px;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

@keyframes blink {
  0% {
      opacity: 1;
  }

  49% {
      opacity: 1;
  }

  50% {
      opacity: 0;
  }

  100% {
      opacity: 0;
  }
}