@import "./map";

div#fullpage {
  div.section {
    background-color: #1D1E21;

    &#space {
      height: 100vh !important;
      background-image: linear-gradient(45deg, #3F3251 2%, #002025 100%);
      box-shadow: 0px -20px 15px -9px #0000004f inset;

      div#tsparticles {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
      }

      div.presentation {
        width: fit-content;
        margin: 0 auto;
        position: relative;
        font-size: 42px;
        line-height: 48px;
        color: #FFFFFF;
        cursor: default;

        div {
          display: block;
          text-align: right;

          span {
            font-family: font(_raleway-semibold);
            color: #E31B6D;
          }

          div.slotMask {
            width: fit-content;
            height: 48px;
            overflow: hidden;
            position: relative;
            display: inline-block;
            vertical-align: top;
            text-align: right;

            div.slotContainer {
              position: relative;
              display: inline-block;
            }

            @media screen and (max-width: 768px) {
              height: 26px;
            }
          }
        }

        @media screen and (max-width: 768px) {
          font-size: 22px;
          line-height: 26px;
        }
      }
    }
  }
}

div.mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}