@import "./map";

div.sectionContainers {
  div.section {
    background-color: #1D1E21;

    &#space {
      width: 100%;
      height: 100vh;
      background-image: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);

      div#tsparticles {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
      }

      div.presentation {
        width: fit-content;
        margin: 0 auto;
        position: relative;
        top: 50%;
        font-size: 42px;
        line-height: 48px;
        color: #FFFFFF;
        cursor: default;
        transform: translate(0, -50%);

        div {
          display: block;
          text-align: right;

          span {
            font-family: font(_raleway-semibold);
            color: #25A0FF;
          }

          div.slotMask {
            width: fit-content;
            height: 48px;
            overflow: hidden;
            position: relative;
            display: inline-block;
            vertical-align: top;
            text-align: right;

            div.slotContainer {
              position: relative;
              display: inline-block;
            }

            @media screen and (max-width: 768px) {
              height: 26px;
            }
          }
        }

        @media screen and (max-width: 768px) {
          font-size: 22px;
          line-height: 26px;
        }
      }
    }
  }
}

div.mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
}